body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

.header-footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: blue;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: lightgrey;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.content {
    width: 55%;
    background-color: #d1f7e7;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar {
    width: 35%;
    background-color: #a0c68e;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.sidebar:hover {
    background-color: #8cb776;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form select, form button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input:focus {
    width: 80%;
    transition: width 0.3s ease;
}

form button:hover {
    background-color: #a0c68e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer p {
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
}
